body {
    background-color: #ebedef;
    min-height: 100%;
    margin: 0;
}

.btn-gen {
    background-color: #00a1d6;
    text-align: center;
    border-radius: 22px;
    margin-top: 5px;
    font-size: 15px;
    padding: 5px 10px;
    height: 20px;
    width: 120px;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

.btn-gen:hover,
.btn-gen:focus {
    border-color: #23AAEE;
    background-color: tan;
    color: white;
    cursor: pointer;
}

.area {
    text-align: center;
    height: auto;
    margin: auto;
}

.leftarea {
    float: left;
    width: 50%;
    height: auto;
    position: relative;
    /*background-color: #f0f8ff; !* 淡蓝色背景 *!*/
}

.rightarea {
    float: left;
    width: 50%;
    height: auto;
    /*background-color: #fff0f1; !* 淡粉色背景 *!*/
}

.table {
    width: auto;
    height: auto;
    margin: 0 auto;

}

.span_title {
    width: 98%;
    height: 36px;
    margin-top: 4px;
    line-height: 32px;
    background-color: forestgreen;
    border: 1px solid greenyellow;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    transition: .3s;
    box-sizing: border-box;
}

.uplodNote {
    font-size: 18px;
    color: rgba(255, 0, 0, 0.6);
}

a {
    text-decoration: none;
}

/* wrapper */
.leftarea > #wrapper {
    position: absolute;
    top: 45px;
    left: 0px;
    width: 98%;
    height: 100%;
    background: linear-gradient(#1a98ca, #1a98ca),
    linear-gradient(90deg, #ffffff33 1px, transparent 0, transparent 19px),
    linear-gradient(#ffffff33 1px, transparent 0, transparent 19px),
    linear-gradient(transparent, #1a98ca);
    background-size: 100% 1.5%, 10% 100%, 100% 8%, 100% 100%;
    background-repeat: no-repeat, repeat, repeat, no-repeat;
    background-position: 0% 100%, 0 0, 0 0, 0 0;
    /* 初始位置 */
    clip-path: polygon(0% 0%, 100% 0%, 100% 1.5%, 0% 1.5%);
    /* 添加动画效果 */
    animation: move 5s infinite linear;
}

@keyframes move {
    to {
        background-position: 0 100%, 0 0, 0 0, 0 0;
        /* 终止位置 */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}